
header {
    margin: 0 auto;
    width: 100%;  height: 80px;
    position: fixed; top: 0; left: 0;
    background: transparent;
    z-index: 999;
    transition: background 0.3s ease-in-out;
}

header .header_cotainer {
    width: 100%; margin: 0 auto;
    display: flex; justify-content: space-between; align-items: center;
    padding: 10px 0;
}
header .header_cotainer .header_left {
    display: flex; 
}
header .header_cotainer .header_left a {
    width: 22px; height: 22px;
    color: #fff; font-family:'Montserrat';
    font-size: 0.94rem; font-weight: 500; margin-right: 5px;
}
header .header_cotainer .header_left a:nth-last-of-type{margin-left: 10px;}
header .header_cotainer .header_left a img {width: 100%;}
header .header_cotainer h1 {}
header .header_cotainer h1 a {width: 154px; height: 20px;}
header .header_cotainer h1 a img {width: 100%;}
header .header_cotainer .header_right {display: flex;}
header .header_cotainer .header_right a {width: 22px; height: 22px;}
header .header_cotainer .header_right a:nth-of-type(2){margin: 0 10px;}

header nav {}
header nav ul {display: flex; flex-flow: row nowrap;justify-content: center;align-items: center;}
header nav ul li {margin-right: 50px;}
header nav ul li:last-child {margin-right: 0;}
header nav ul li a { padding: 0 10px;
    color: #fff; font-family:'Montserrat';
    font-weight: 400; letter-spacing: -0.02em;
}
header nav ul li a img {width: 24px;}
nav ul li a:hover {}

/* 공통 */
.title_1 {
    font-size: 1.88rem;font-weight: 700;line-height: 1.2; letter-spacing: -0.02em;
    
}
.title_2 {font-size: 0.94rem; line-height: 1.2; letter-spacing: -0.02em;}
.price {
    font-weight: 600; letter-spacing: -0.02em; font-family:'Montserrat';
    font-size: 0.94rem;
}
.discount_price {
    color: #12B560;font-size: 1rem;font-weight: 600; margin-right: 10px;font-family:'Montserrat';
}
.price del {font-size: 0.88rem;margin-left: 10px; font-family:'Montserrat';font-weight: 400;}

main {width: 100%; margin: 0 auto;}
main .main_bg {
    width: 100%; height: 808px;
    background-image: url(../images/main_bnr.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    margin-bottom: 71px;
}
main .main_bg .main_bnr {
    position: absolute;right: 50%; bottom: 235px; transform: translateX(45%);
    color: #fff; text-align: left;
}
main .main_bg .main_bnr > p:nth-of-type(1) {
    font-size: 0.88rem; letter-spacing: -0.02em; line-height: 1.3;
    margin-bottom: 10px;
}
main .main_bg .main_bnr > h2 {
    font-family:'Montserrat', serif;
    font-size: 2.25rem; font-weight: 700;
    letter-spacing: -0.02em; line-height: 1.3;
    margin-bottom: 41px; color: #fff;
}
main .main_bg .main_bnr > p:nth-of-type(2) {
    font-size: 1.13rem; font-weight: 400;
    letter-spacing: -0.02em; line-height: 1.2;
    margin-bottom: 25px;
}
main .main_bg .main_bnr > p:nth-of-type(3) {
    font-weight: 400;
    letter-spacing: -0.02em; line-height: 1.5;
}
main .main_bg .main_bnr > p span {color:#12B560 ;}

main .main_bg div:nth-of-type(2) {
    display: flex; align-items: center;
    position: absolute;right: 50%;bottom: 20px; transform: translateX(50%);
    color: #fff; 
}
main .main_bg div:nth-of-type(2) a:nth-of-type(1) {padding: 10px;}
main .main_bg div:nth-of-type(2) a:nth-of-type(1) img {}
main .main_bg div:nth-of-type(2) p {margin: 0 10px; padding-bottom: 3px;}
main .main_bg div:nth-of-type(2) a:nth-of-type(2) {padding: 10px;}
main .main_bg div:nth-of-type(2) a:nth-of-type(2) img {}
/* 타입별 카테고리 */
main .skin_wrap {
    width: 1260px; margin: 0 auto;
    display: flex; flex-flow: row wrap;justify-content: center;
    margin-bottom: 174px;
}
main .skin_wrap .skin_type {text-align: center; margin-right: 15px;}
main .skin_wrap .skin_type:last-of-type{margin-right: 0;}
main .skin_wrap .skin_type a {width: 100px; height: 100px;}
main .skin_wrap .skin_type a:hover img {transform: scale(0.9);}

main .skin_wrap .skin_type a img {width: 100%; transition: transform 0.5s;}
main .skin_wrap .skin_type p {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02em;
    margin-top: 13px;
}
/* 베스트 상품 */
main .best_now {
    text-align: center; position: relative; width: 1262px; margin: 0 auto;
    margin-bottom: 171px;
}
main .best_now h2.title_1 {
    font-size: 2rem; line-height: 1.2; letter-spacing: -0.02em;
    font-weight: 700; font-family:'Montserrat';
    margin-bottom: 15px;
}
main .best_now p {line-height: 1.2; letter-spacing: -0.02em;font-size: 0.94rem; margin-bottom: 30px;}
main .best_now ul {
    display: flex; flex-flow: row wrap; justify-content: center; padding: 10px ;
    margin-bottom: 61px;
}
main .best_now ul li {
    margin-right: 10px; border: 1px solid rgba(73,73,73,0.5); border-radius: 20px;
    width: 71px; padding: 5px 0 6px; transition:transform 0.5s;
}
main .best_now ul li:last-child {margin-right: 0;}
main .best_now ul li a {
    font-size: 0.88rem;line-height: 1.2; letter-spacing: -0.02em; width: 100%;

}
main .best_now ul li:hover {
    transform: scale(0.9);
}
/* 베스트 슬라이드 */
main .best_now .swiper {
    
}
main .best_now .swiper .swiper-wrapper {}
main .best_now .swiper .swiper-wrapper .swiper-slide {
    display: flex; flex-flow: row wrap; justify-content: center;
}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product {
    text-align: left; margin-right: 10px;
}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product:nth-of-type(4){margin-right: 0;}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product a {width: 308px;}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product a img {width: 100%;}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product h3.title_2 {margin-bottom: 10px;}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product h3.title_2 span {font-weight: 600;}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product p.price {}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product p.price span.discount_price {}
main .best_now .swiper .swiper-wrapper .swiper-slide .slid_product p.price del {}

main .best_now a.prev_btn {width: 40px; height: 40px; position: absolute; top: 60%; left: -52px;}
main .best_now a.next_btn {width: 40px; height: 40px; position: absolute; top: 60%; right: -52px;}

/* 타임세일  */
main .time_sale_wrap {width: 1260px;margin: 0 auto; text-align: center; }
main .time_sale_wrap .time_title {margin-bottom: 60px;}
main .time_sale_wrap .time_title .title_1 {margin-bottom: 15px;}

main .time_sale_wrap .time_title .title_1 img {width: 40px; position: relative; bottom: -5px;}
main .time_sale_wrap .time_title .time_sale {
    font-size: 1.45rem;font-weight: 700; letter-spacing: -0.02em; line-height: 1.2;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
main .time_sale_wrap .time_title .time_sale em {font-size: 1.45rem;font-weight: 700; letter-spacing: -0.02em; line-height: 1.2;}

main .time_sale_wrap .time_product_wrap {display: flex; flex-flow: row wrap; align-items: center;}
main .time_sale_wrap .time_product_wrap .time_product {margin-right: 9px; text-align: left; }
main .time_sale_wrap .time_product_wrap .time_product:nth-of-type(4) {margin-right: 0;}

main .time_sale_wrap .time_product_wrap .time_product a:hover img {transform: scale(0.9);}
main .time_sale_wrap .time_product_wrap .time_product a {width:308px; }
main .time_sale_wrap .time_product_wrap .time_product a img {width: 100%;transition: transform 1s;}
main .time_sale_wrap .time_product_wrap .time_product h3.title_2 {margin: 10px 0 9px;}
main .time_sale_wrap .time_product_wrap .time_product p {
    letter-spacing: -0.02em; line-height: 1.2; font-family:'Montserrat';
    font-weight: 500; 
}
main .time_sale_wrap .time_product_wrap .time_product p img {}
main .time_sale_wrap .time_product_wrap .time_product p span {font-size: 0.94rem;font-family:'Montserrat';line-height: 1.2;}
/* 빅박스 세일 */
main .big_sale_wrap {
    width: 1260px; margin: 174px auto; 
}
main .big_sale_wrap .title_1 {margin-bottom: 70px; font-family:'Montserrat';}
main .big_sale_wrap .big_sale_top {
    display: flex; flex-flow: row wrap; justify-content: space-between; 
    margin-bottom: 15px;
}
main .big_sale_wrap .big_sale_top .big_sale_left {
    width: 623px; height: 519px;
    background-image: url(../images/big_sale_001.jpg);
    background-position: center;
    background-size: cover; 
    text-align: center;
    letter-spacing: -0.02em; line-height: 1.2; color: #fff;
    position: relative;
}
main .big_sale_wrap .big_sale_top .big_sale_left p {font-size: 0.94rem;margin:10px 0;}
main .big_sale_wrap .big_sale_top .big_sale_left h3 {font-size: 1.55rem;font-weight: 700;line-height: 1.2;}
main .big_sale_wrap .big_sale_top .big_sale_left h3 span {font-size: 1.55rem;font-weight: 700;}
main .big_sale_wrap .big_sale_top .big_sale_left a {
    color: #606060;font-size: 1.06rem;font-weight: 600;letter-spacing: -0.02em; line-height: 1.2;
    font-family:'Montserrat'; padding-right: 20px;
    position: absolute; right: 0; bottom: 20px; transition:transform 0.5s ;
}
main .big_sale_wrap .big_sale_top .big_sale_left a:hover {transform: scale(0.9);}
main .big_sale_wrap .big_sale_top .big_sale_left a img {width: 24px; height: 24px; margin-left: 5px; position: relative; top: 6px; }
main .big_sale_wrap .big_sale_top .big_sale_right {
    width: 623px; height: 519px;
    background-image: url(../images/big_sale_002.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    letter-spacing: -0.02em; line-height: 1.2; color: #fff;
}
main .big_sale_wrap .big_sale_top .big_sale_right p {font-size: 0.94rem;margin:10px 0;}
main .big_sale_wrap .big_sale_top .big_sale_right h3 {font-size: 1.55rem;font-weight: 700;line-height: 1.2;}

main .big_sale_wrap .big_sale_botm {
    display: flex; flex-flow: row wrap;justify-content: space-between;
}
main .big_sale_wrap .big_sale_botm .big_sale_product {width: calc((100% - 30px) / 4);}

main .big_sale_wrap .big_sale_botm .big_sale_product a:hover img {transform: scale(0.9);}
main .big_sale_wrap .big_sale_botm .big_sale_product a {width: 100%; }
main .big_sale_wrap .big_sale_botm .big_sale_product a img {width: 100%;transition:transform 1s ;}
main .big_sale_wrap .big_sale_botm .big_sale_product h3.title_2 {margin-top: 10px;margin-bottom: 10px;}
main .big_sale_wrap .big_sale_botm .big_sale_product p {}
main .big_sale_wrap .big_sale_botm .big_sale_product p span.discount_price {}
main .big_sale_wrap .big_sale_botm .big_sale_product p del {}
/* Must-Have Picks 컬렉션  */
main .collection_wrap {
    width: 1260px; margin: 0 auto;
    margin-bottom: 130px;

}
main .collection_wrap p {
    text-align: left;
    letter-spacing: -0.02em; line-height: 1.2;
    font-family:'Montserrat'; font-weight: 500;
    margin-bottom: 10px;
}
main .collection_wrap .collection_title {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    margin-bottom: 30px;
}
main .collection_wrap .collection_title h4 {font-size: 1.25rem; font-weight: 600;letter-spacing: -0.02em; line-height: 1.2;}
main .collection_wrap .collection_title p {font-size: 0.81rem;}
main .collection_wrap .collection_title p img {width: 20px; position: relative; top: 3px;}
main .collection_wrap .collection_contents {
    display: flex; flex-flow: row wrap; width: 1260px; justify-content: space-between;
    
}
main .collection_wrap .collection_contents .collection_product {
    text-align: left; width: calc((100% - 60px) / 5);  
}
main .collection_wrap .collection_contents .collection_product img {margin-bottom: 10px; }
main .collection_wrap .collection_contents .collection_product a:hover img {transform: scale(0.9);}
main .collection_wrap .collection_contents .collection_product a {width: 100%; margin-bottom: 5px;}
main .collection_wrap .collection_contents .collection_product a img {
    display:block; width: 100%; margin-bottom: 5px; transition: transform 1s;
}
main .collection_wrap .collection_contents .collection_product .title_2 {margin-bottom: 5px;}
main .collection_wrap .collection_contents .collection_product p {
    font-size: 0.94rem; font-weight: 500;letter-spacing: -0.02em; line-height: 1.2;  font-family:'Montserrat';
}
main .collection_wrap .collection_contents .collection_product p img {
    width: 15px; vertical-align: middle; margin-top: 5px; margin-left: 5px;
}
main .collection_wrap .collection_contents .collection_product p span {
    font-size: 0.88rem; color: #5c5c5c;font-family:'Montserrat';
}
main .collection_wrap .collection_contents .collection_product img,
main .collection_wrap .collection_contents .collection_product .title_2,
main .collection_wrap .collection_contents .collection_product p { }

/* 봄바람에도 촉촉하게 */
main .moisture_wrap {
    width: 1260px; margin: 0 auto;
    margin-bottom: 249px; 
}
main .moisture_wrap .moisture_title { display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    margin-bottom: 30px;}
main .moisture_wrap .moisture_title h4 {font-size: 1.25rem; font-weight: 600;letter-spacing: -0.02em; line-height: 1.2}
main .moisture_wrap .moisture_title p {font-size: 0.81rem;}
main .moisture_wrap .moisture_title p img {width: 20px; position: relative; top: 3px;}
main .moisture_wrap .moisture_contents {
    display: flex; flex-flow: row wrap; width: 1260px; justify-content: space-between;
}
main .moisture_wrap .moisture_contents .moisture_product {
    text-align: left; width: calc((100% - 60px) / 5);
}
main .moisture_wrap .moisture_contents .moisture_product a:hover img {transform: scale(0.9);}
main .moisture_wrap .moisture_contents .moisture_product a {width: 100%;}
main .moisture_wrap .moisture_contents .moisture_product a img {width: 100%;transition: transform 1s;}
main .moisture_wrap .moisture_contents .moisture_product h3.title_2 {margin: 10px 0;}
main .moisture_wrap .moisture_contents .moisture_product p.price {margin-bottom: 5px;}
main .moisture_wrap .moisture_contents .moisture_product p.price span.discount_price {}
main .moisture_wrap .moisture_contents .moisture_product p.price del {}
main .moisture_wrap .moisture_contents .moisture_product p:nth-of-type(2) {}
main .moisture_wrap .moisture_contents .moisture_product p:nth-of-type(2) img {width: 15px; vertical-align: middle; margin-bottom: 3px; margin-right: 1px;}
main .moisture_wrap .moisture_contents .moisture_product p:nth-of-type(2) span {font-size: 0.88rem; color: #5c5c5c;font-family:'Montserrat';}
/* 쇼케이스 */

main .show_title{
    text-align: center; margin-bottom: 60px; color: #005B4E;
    font-size: 2.19rem; font-weight: 600;
    letter-spacing: -0.02em; line-height: 1.2;  font-family:'Montserrat';
}
main .show_case_warp {
    display: flex;  flex-flow: row nowrap; justify-content: space-around;
    width: 1260px; margin: 0 auto; margin-bottom: 188px;
}
main .show_case_warp .pet {
    text-align: center; 
}
main .show_case_warp .pet p:nth-of-type(1) {
    font-size: 1.06rem; font-weight: 600; color: #005B4E;
    letter-spacing: -0.02em; line-height: 1.2;
}
main .show_case_warp .pet p:nth-of-type(2) { margin: 10px 0; } 
main .show_case_warp .pet .pet_contents {
    display: flex; flex-flow: row nowrap;justify-content: space-between; align-items: center;
    text-align: left; 
}
main .show_case_warp .pet .pet_contents:nth-of-type(1) {border-bottom: 1px solid #DADADA;padding-bottom: 10px;}
main .show_case_warp .pet .pet_contents div {display: flex;flex-flow: row nowrap; align-items: center;text-align: left; }
main .show_case_warp .pet .pet_contents div a {width: 103px;}
main .show_case_warp .pet .pet_contents div a img {width: 100%;}
main .show_case_warp .pet .pet_contents div div {display: flex;flex-flow: column nowrap; text-align: left;}
main .show_case_warp .pet .pet_contents div h3 {font-size: 0.81rem; letter-spacing: -0.02em; line-height: 1.2;}
main .show_case_warp .pet .pet_contents div h3 span {font-family:'Montserrat';font-size: 0.75rem;}
main .show_case_warp .pet .pet_contents .buy_btn:hover {background-color:  #12B560;color: #fff;}
main .show_case_warp .pet .pet_contents .buy_btn {
    font-size: 0.88rem; color: #000;letter-spacing: -0.02em; line-height: 1.2;
    border: 1px solid #D9D9D9; border-radius: 5px; padding: 10px;
}

main .show_case_warp .olive { 
    text-align: center;
}
main .show_case_warp .olive p:nth-of-type(1) {font-size: 1.06rem; font-weight: 600; color: #005B4E;
    letter-spacing: -0.02em; line-height: 1.2;}
main .show_case_warp .olive p:nth-of-type(2) {margin: 10px 0;}
main .show_case_warp .olive .olive_contents {
    display: flex; flex-flow: row nowrap;justify-content: space-between; align-items: center;
    text-align: left;
}
main .show_case_warp .olive .olive_contents:nth-of-type(1) {border-bottom: 1px solid #DADADA;padding-bottom: 8px;}
main .show_case_warp .olive .olive_contents div {display: flex;flex-flow: row nowrap; align-items: center;text-align: left;}
main .show_case_warp .olive .olive_contents div a {width: 103px;}
main .show_case_warp .olive .olive_contents div a img {width: 100%;}
main .show_case_warp .olive .olive_contents div div {display: flex;flex-flow: column nowrap; text-align: left;}
main .show_case_warp .olive .olive_contents div h3 {font-size: 0.81rem; letter-spacing: -0.02em; line-height: 1.2;}
main .show_case_warp .olive .olive_contents div h3 span {font-family:'Montserrat';font-size: 0.75rem;}

main .show_case_warp .olive .olive_contents .buy_btn:hover {background-color: #12B560; color: #fff;}
main .show_case_warp .olive .olive_contents .buy_btn {
    font-size: 0.88rem; color: #000;letter-spacing: -0.02em; line-height: 1.2;
    border: 1px solid #D9D9D9; border-radius: 5px; padding: 10px;
}
/* 라이브 방송 */
main .live_wrap {
    width: 1260px; margin: 0 auto;
    display: flex; flex-flow: row wrap; align-items: center; justify-content: center;
    margin-bottom: 200px;
}
main .live_wrap video {max-width: 600px; height: 736px; margin: 0 150px; }
main .live_wrap .live_contents {flex: 1}
main .live_wrap .live_contents p:nth-of-type(1) {letter-spacing: -0.02em; line-height: 1.2;font-weight: 500; margin-bottom: 10px;}
main .live_wrap .live_contents p:nth-of-type(2) span {font-size: 2.50rem;font-weight: 900;font-family:'Montserrat';margin-bottom: 15px;}
main .live_wrap .live_contents p:nth-of-type(3) {
    font-size: 1.25rem;font-weight: 700;letter-spacing: -0.02em; line-height: 1.2; margin-bottom: 40px;
}
main .live_wrap .live_contents p:nth-of-type(4) {font-size: 0.94rem;letter-spacing: -0.02em; line-height: 1.2;margin-bottom: 40px;}
main .live_wrap .live_contents .live_btn {
    background-color: #013A7D; color: #fff; padding: 10px; border-radius: 5px; letter-spacing: -0.02em; line-height: 1.2;
    font-weight: 500;
}
main .live_wrap .live_contents .live_btn:hover {background-color: #024694;}
/* 쿠폰 배너 */
main .coupon_wrap {
    width: 1260px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    margin-bottom: 16px;
}
    
main .coupon_wrap .coupon_left {
    width: 50%;
    display: flex; flex-flow: row nowrap; align-items: center;justify-content: space-between;
    background-image: url(../images/coupon_bnr_001.png);
    background-size: cover;
    background-position: center;
    padding: 15px 120px;
}
main .coupon_wrap .coupon_left p {font-size: 1.25rem;font-weight: 500;letter-spacing: -0.02em; line-height: 1.2;color: #fff;}
main .coupon_wrap .coupon_left .coupon_down {display: flex;flex-flow: column nowrap;}
main .coupon_wrap .coupon_left .coupon_down a {width: 96px;}
main .coupon_wrap .coupon_left .coupon_down a img {width: 100%;}

main .coupon_wrap .coupon_right {
    width: 50%;
    display: flex; flex-flow: row nowrap;align-items: center;justify-content: space-between;
    background-image: url(../images/coupon_bnr_002.png);
    background-size: cover;
    background-position: center;
    padding: 15px 80px;
}
main .coupon_wrap .coupon_right {}
main .coupon_wrap .coupon_right p {font-size: 1.25rem;font-weight: 500;letter-spacing: -0.02em; line-height: 1.2;color: #fff;}
main .coupon_wrap .coupon_right .coupon_down {display: flex;flex-flow: column nowrap;}
main .coupon_wrap .coupon_right .coupon_down a {width: 96px;}
main .coupon_wrap .coupon_right .coupon_down a img {width: 100%;}
/* 푸터 */
footer {
    width: 1260px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between;  
    padding: 30px 0;
}
footer p {font-size: 0.88rem;letter-spacing: -0.02em; }
footer .cs {}
footer .cs p:nth-child(1) {line-height: 1.5;font-size: 1rem; font-weight: 500;}
footer .cs p:nth-child(2) {line-height: 1.5;font-size: 1rem; font-weight: 500;margin-bottom: 10px;}
footer .info {text-align: center;}
footer .info p {line-height: 1.3; margin-bottom: 50px;}
footer .info a {width: 100%;}
footer .info a img {width: 154px; height: 20px;}
footer .law {}
footer .law p {line-height: 1.5;}
footer .law p a {}
footer .sns {margin-top: 5px;}
footer .sns a {}
footer .sns a img {width: 24px;height: 24px;}

.top-button {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color:#013b7d96;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.top-button:hover {
    background-color: #05254b;
}
.top-button.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

